<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="moment.js"></script>
    <script src="../lcp-lib/sha512.js"></script>
    <script src="../lcp-lib/LearningContext.js" type="text/javascript"></script>
    <script src="../lcp-lib/LearningContextUtil.js" type="text/javascript"></script>
    <script src="../lcp-lib/TokenManager.js" type="text/javascript"></script>
    <script src="../lcp-lib/ContextData.js" type="text/javascript"></script>
    <script src="../lcp-lib/Entity.js" type="text/javascript"></script>
    <script src="../lcp-lib/Event.js" type="text/javascript"></script>
    <script src="../lcp-lib/angular.min.js" type="text/javascript"></script>


    <!--
    <script src="../vendors/requirejs/require.js"></script>
    <script src="../build/script-compiled.js"></script>
    -->

    <style>
        body{
            padding-top: 13px;
            width: 500px;
            height: 300px;
            max-height: 600px;
            max-width: 600px;
            border:10px solid white;
        }
    </style>
</head>
<body ng-controller="homeController">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                    <!--
                    <h3 class="panel-title">topic:{{topic}} </h3>
                    <h3 class="panel-title">data:{{data}} </h3>
                    <h3 class="panel-title">rating:{{rating}} </h3>
                    <h3 class="panel-title">mimetype:{{mimetype}} </h3>
                    -->
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Topic</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmail3"
                                       placeholder="Topic" id="topic" ng-model="topic"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Data</label>
                            <div class="col-sm-9">
                                <input id='data' type="data" class="form-control" id="inputPassword3"
                                       placeholder="data" id="data" ng-model="data"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Tags</label>
                            <div class="col-sm-9">
                                <input id='tags' type="text" class="form-control" id="inputPassword3"
                                       placeholder="Write some tags, each separated by a comma" id="tags" ng-model="tags"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <input id='description' type="text" class="form-control" id="inputPassword3"
                                       placeholder="Write a short description" id="description" ng-model="description"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Ratings</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="rating" ng-model="rating">
                                    <option>Excellent</option>
                                    <option>Very Good</option>
                                    <option>Good</option>
                                    <option>Bad</option>
                                    <option>Very Bad</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="mimetype" ng-model="mimetype">
                                    <option>Webpage</option>
                                    <option>PDF</option>
                                    <option>Video</option>
                                    <option>Text</option>
                                    <option>Audio</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="homeButtonId" ng-click="share()">Share</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="home_new.js"></script>
</html>